{% extends 'users/user_base.html' %}

{% block title %}
    User || Home
{% endblock %}




{% block content %}

    {% load static %}
    <section id="hero" class="hero d-flex align-items-center">

        <div class="container">
            <div class="row offset-md-5 col-md-10 ">
                <div class="col-lg-6 d-flex flex-column justify-content-center">

                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">

                            <h1 class="text-decoration:none;">  {{ request.session.username|title }}</h1>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section><!-- End Hero -->


{% endblock %}